tr {
    .vedomostTd {
        border-color: black;
        border-width: 1px;
        border-style: solid;
        .empty {
            border-width: 0px;
        }
        .day-of-week {
            border-width: 0;
        }
        &.typesOfLoad {
            width: 15px;
        }
    }
}
