.docHeader {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;

  .docHeaderString {
    height: 2px;
  }

  .underlined {
    width: 20%;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-color: black;
  }

  .right {
    margin-left: 330px;
  }

  .left {
    margin-right: 270px;
  }
}

